html {font-size:62.5%;}
body {
  font-size:1.6rem;
  font-family: $fonts-general;
  color: $black;
}

* {box-sizing:border-box;}

img {
  max-width:100%;
}

a {
  text-decoration:none;
  color:$accent;
}
a:hover, a:focus {
  color:$black;
}
