
/* COLORS */
$black: #2a2a2a;
$white: #fff;
$grey-light: #ccc7c3;
$grey-dark: #2a2a2a;
$accent: #ffa600;
$off-white: #f3f3f3;
$sky-blue: #ccf2ff;

/* BREAKPOINTS */
$break-mobile: 290px;
$break-phablet: 480px;
$break-tablet: 768px;
$break-desktop: 1020px;
$break-wide: 1280px;

/* TYPOGRAPHY */
$fonts-decorative: 'oswald', Helvetica, sans-serif;
$fonts-general: 'Helvetica Neue', Helvetica, Arial, sans-serif;
